body{
    background-color: bisque;
    margin: 0px;
}

hr {
    color: black;
    height:1px;
    width:100%;
  }

header{
    margin: 0px 20px;
}

nav{
    float: left;
}

nav li{
    margin-left: 200px;
    display: inline-block;
    padding: 10px;
}

.acceuil{
    color: brown;
}

.academy{
    float: left;
    margin-left: 20px;
    width: 80px;
    height: 80px;
}


.night{
    display: inline-block;
    border-radius: 5px;
    margin-left: 70px;
    margin-right: auto;
    width: 1200px;
    height: 270px;
    position: absolute;
}

.absolute{
    background-color: rgb(255, 255, 255, 0.5);
    width: 1200px;
    display: inline-block; 
    position: absolute; 
    margin-top: 220px;
    margin-left: 70px; 
}

.absolute p{
    display: inline-block;
    margin-left: 10px;
}

.absolute button{
    background-color: rgb(187, 5, 5);
    color: white;
    border: 5px;
    display: inline-block;
    margin-left: 830px;
}

main{
    margin-top: 300px;
}

.article{
    width: 40%;
    float: left;
    margin-left: 50px;
}



.aside{
    margin-right: 15px;
    padding: 10px;
    float: right;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(65, 31, 11, 0.7);
    color: white;
    width: 30%;
}

.aside h3{
    text-align: center;
}

.aside img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    width: 80px;
}

.aside p{
    text-align: left;
    width: 100%;
}

.aside li{
    margin-left: 120px;
    list-style: none;
}

.aside li i{
    padding:5px;
}





footer{
    display: inline-block;
    overflow: auto;
}

.tweet{
    display: inline-block;
    padding-right: 300px;
    margin-left: 10px ;
}

.pics{
    display: inline-block;
    padding-right: 300px;
   
}

.pics span{
    width: 10px;
    background-color: black;
    border: 4px blue solid;
    padding: 2px;
}


.list_damis{
    display: inline-block;
    padding-right: 100px;
} 

.list_damis li {
    color:rgb(187, 5, 5) ;
}

